{% if next_refuse_date_ts < next_recycling_date_ts %}
  {% assign next_logo = waste_logo %}
  {% assign next_collection = next_refuse %}
  {% assign next_collection_day = next_refuse_day %}
{% else %}
  {% assign next_logo = recycling_logo %}
  {% assign next_collection = next_recycling %}
  {% assign next_collection_day = next_recycling_day %}
{% endif %}

<div class="layout layout--row text--center">
    <div class="image image-stroke">{{ next_logo }}</div>
    <div>
        <div class="title mb--2">{{ next_collection_day }}</div>
        <div class="value value--xsmall">{{ next_collection.Next | date: "%d/%m/%y" }}</div>
    </div>
</div>
<div class="title_bar">
  <div class="image image-stroke">{{  title_logo }}</div>
  <span class="title">St Albans Refuse Collections</span>
</div>
